.cgpa-page {
  min-height: 100vh;
  padding: 40px;
  background: #f5f7fb;
}

.cgpa-card {
  width: 500px;
  max-width: 100%;
  margin: 30px auto;
  padding: 30px;

  background: white;
  border-radius: 16px;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.cgpa-card h1 {
  margin-bottom: 10px;
}

.cgpa-card p {
  margin-bottom: 25px;
}

.cgpa-card label {
  display: block;
  margin-bottom: 8px;
  margin-top: 15px;
}

.cgpa-card input {
  width: 100%;
  padding: 12px;

  box-sizing: border-box;

  border: 1px solid #ddd;
  border-radius: 8px;

  font-size: 16px;
}

.cgpa-card button {
  width: 100%;
  margin-top: 25px;
  padding: 12px;

  border: none;
  border-radius: 8px;

  background: #222;
  color: white;

  font-size: 16px;
  cursor: pointer;
}

.cgpa-card h2 {
  margin-top: 25px;
}